<mat-card class="margin-a-20 card-form-elevation">
    <mat-card-content>
        <form [formGroup]="categoryForm" class="form-size">
            <p>
                <mat-form-field appearance="outline" class="input-full-width">
                  <mat-label>カテゴリ名</mat-label>
                  <input matInput placeholder="何かタイトル" formControlName="name">
                  <mat-error *ngIf="categoryForm.controls['name'].hasError('required')">
                    カテゴリ名は<strong>必須</strong>です
                  </mat-error>
                </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline" class="input-full-width">
                <mat-label>slug</mat-label>
                <input matInput placeholder="カテゴリ※後でSelectBoxに変更する" formControlName="slug">
                <mat-error *ngIf="categoryForm.controls['slug'].hasError('required')">
                  slugは<strong>英数字のみ</strong>で<strong>必須</strong>です
                </mat-error>
              </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" class="input-full-width">
                    <mat-label>色※後でSelectBoxに変更する</mat-label>
                    <input type="number" matInput placeholder="色※後でSelectBoxに変更する" formControlName="color">
                    <mat-error *ngIf="categoryForm.controls['color'].hasError('required')">
                      色は<strong>必須</strong>です
                    </mat-error>
                </mat-form-field>
            </p>
        </form>
    </mat-card-content>
    <mat-card-footer>
      <span class="float-left">
        <button mat-raised-button color="warn" class="margin-a-20" (click)="onDeleteButtonClick()" ><mat-icon>delete</mat-icon>削除</button>
      </span> 
      <span> </span>
      <span class="float-right">
        <button *ngIf="!notAddPage" mat-raised-button color="primary" class="margin-a-20" (click)="onAddButtonClick()" [disabled]="categoryForm.invalid"><mat-icon>group_add</mat-icon>登録</button>
        <button *ngIf="notAddPage" mat-raised-button color="primary" class="margin-a-20" (click)="onUpdateButtonClick()" [disabled]="categoryForm.invalid"><mat-icon>edit</mat-icon>更新</button>
      </span> 
    </mat-card-footer>
</mat-card>