@use '@angular/material' as mat;
.card-form-elevation{
    @include mat.elevation(3);
}
.margin-a-20{
    margin: 20px;
}
.form-size {
    min-width: 150px;
    width: 100%;
  }
.input-full-width {
    width: 100%;
}
.textarea-full-width {
    width: 100%;
}
.textarea-wrap {
    white-space: pre-wrap;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}