.margin-a-20{
    margin: 20px;
}
.spacer{
    flex : 1  1 auto;
}
.category{
    margin-right: 20px;
}
.card-link{
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}
.card-chip {
    margin-left: 10px;
    height: 20px;
    opacity: unset!important;
}