@use '@angular/material' as mat;
.card-form-elevation{
    @include mat.elevation(3);
}
.margin-a-20{
    margin: 20px;
}
.spacer{
    flex : 1  1 auto;
}
.category{
    margin-right: 20px;
}
.card-link{
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}
.card-chip {
    margin-left: 10px;
    height: 20px;
    opacity: unset!important;
}
.category-color-RED{
    background-color: #ff8080!important;
}
.category-color-YELLO{
    background-color: #ffe180!important;
}
.category-color-BLUE{
    background-color: #80d5ff!important;
}
.card-chip-color-todo {
    background-color: #52cfcf!important;
}
.card-chip-color-progress {
    background-color: #d9b8ff!important;
}
.card-chip-color-complete {
    background-color: #e45cae!important;
}