<mat-card class="margin-a-20">
    <a class="card-link" [routerLink]="['/todo/show', item.id ]"></a>
    <mat-card-header>
        <span class="category"><mat-card-title>{{item.id}}</mat-card-title></span>
        <span><mat-card-title>{{item.categoryId}} {{item.title}}</mat-card-title></span>
        <span  class="category"><mat-chip-listbox><mat-chip-option color="accent" style="opacity: unset;"selected disabled>{{getStatusName(item.state)}}</mat-chip-option></mat-chip-listbox></span>
        <span class="spacer"></span> 
        <span>
            <mat-card-subtitle>{{getLocalTime(item.createdAt)}}</mat-card-subtitle>
            <mat-card-subtitle>{{getLocalTime(item.updatedAt)}}</mat-card-subtitle>
        </span>
    </mat-card-header>
    <mat-card-content>
        <div style="white-space: pre-wrap;">
            {{getBrEscape(item.body)}}
        </div>
    </mat-card-content>
  </mat-card>