<mat-card class="margin-a-20">
    <a class="card-link" [routerLink]="['/todo/show', item.id ]"></a>
    <mat-card-header>
        <span class="category"><mat-card-title>{{item.id}}</mat-card-title></span>
        <span class="category"><mat-card-title><span class="card-chip category {{cateoryColorClass(item.categoryColor)}}" >{{item.categoryName}}</span>{{item.title}}</mat-card-title></span>
        <span class="category"><mat-chip-listbox><mat-chip-option class="card-chip {{todoStatusColorClass(item.state)}}" disabled>{{getStatusName(item.state)}}</mat-chip-option></mat-chip-listbox></span>
        <span class="spacer"></span> 
        <span>
            <mat-card-subtitle>作成日:{{getLocalTime(item.createdAt)}}</mat-card-subtitle>
            <mat-card-subtitle>更新日:{{getLocalTime(item.updatedAt)}}</mat-card-subtitle>
        </span>
    </mat-card-header>
    <mat-card-content>
        <div style="white-space: pre-wrap;">
            {{getBrEscape(item.body)}}
        </div>
    </mat-card-content>
  </mat-card>